/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
  font-size: 62.5%; /* 10px browser default */
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
}

/* Chrome fix */
body {
  margin: 0;
  color: $body--font-color;
  background-color: $body--background-color;
  font-family: $body--font-family;
  font-size: $body--font-size;
  font-weight: $font-weight--regular;
  line-height: $line-height--largest;

  > div {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  color: $link--font-color;
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:active,
a:hover,
#primary_menu ul li.current-menu-item a,
#primary_menu ul li a:hover,
#breadcrumbs .goback:hover,
.channel .channel_title a,
.post .entry-title a:hover,
.post .entry-tools a:hover,
.post_list li a.post_title:hover,
#popup_window h3 a,
.entry-content a,
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
  color: $orange;
}

a:focus,
a:hover {
  color: $dark-grey;
  text-decoration: none;
}

p {
  margin: 0 0 30px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: $border-width $border-style $border-color-lighter;
  clear: both;
  margin: 30px 0;
}

b,
strong {
  font-weight: $font-weight--bold;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

mark {
  background: $light-grey;
  color: $dark-grey;
}

blockquote {
  margin: 30px;

  &::before {
    content: "\201C";
    display: block;
    font-size: 30px;
    font-size: 3rem;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
  }
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings--font-family;
  font-weight: $font-weight--bold;
  line-height: $line-height--small;
  margin: 0 0 20px;
}

h1 {
  font-size: $h1--font-size;
}

h2 {
  font-size: $h2--font-size;
}

.entry-content h3,
.entry-content h4 {
  font-weight: $font-weight--semibold;
}

h3 {
  font-size: $h3--font-size;
}

h4 {
  font-size: $h4--font-size;
}

.entry-content h4 {
  margin-top: 40px;
}

h5 {
  font-size: $h5--font-size;
}

h6 {
  font-size: $h6--font-size;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.entry-content h1,
.comment-list li h1 {
  font-size: 2.6rem;
}

.entry-content h2,
.comment-list li h2 {
  font-size: 2.4rem;
}

.entry-content h3,
.comment-list li h3 {
  font-size: 2.2rem;
}

.entry-content h4,
.comment-list li h4 {
  font-size: 2rem;
}

.entry-content h5,
.comment-list li h5 {
  font-size: 1.8rem;
}

.entry-content h6,
.comment-list li h6 {
  font-size: 1.6rem;
}

.entry-content pre,
.entry-content table {
  width: 80%;
}

.post .entry-content {
  margin: 25px 0;
}

.single .post .entry-content {
  font-size:1.6rem;
}

.post .entry-content blockquote,
.comment-list li blockquote {
  color: #000;
  font: normal 2rem "Roboto Slab",Arial;
  margin: 40px 0;
  padding: 0 40px;
  position: relative;
}

.comment-list li blockquote {
  margin: 20px 0;
}

.post .entry-content blockquote:before,
.comment-list li blockquote:before {
  display: block;
  content: "\201C";
  line-height: 1;
  font-size: 6rem;
  position: absolute;
  left: 0;
  top: -0.1em;
  color: $light-grey;
  font-family: "Roboto Slab",Georgia, "Times New Roman", Times, serif;
}

.post .entry-content blockquote::after,
.comment-list li blockquote::after {
  bottom: -35px;
  color: $light-grey;
  content: '\201D';
  display: block;
  font-family: "Roboto Slab",Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
  position: absolute;
  right: 0;
}

.single .entry-content blockquote {
  font-size: 2.2rem;
}
