#topbar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}


#topbar {
  background: $white;
  border-bottom: $border-width $border-style $border-color;
  box-sizing: content-box;
  font-size: 13px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  overflow: hidden;
  position: static;
  z-index: 9999;
  z-index: 200;

  a:active,
  a:hover,
  a:focus {
    color: $orange;
  }

  &.shrinked {
    border-bottom: $border-width $border-style $border-color;
    box-shadow: 0 1px 2px $lightest-grey-2;
    height: 63px;
    min-height: inherit;
    position: fixed;
    overflow: visible;
    padding-bottom: 0;
    top: 30px;
    width: 100%;
    z-index: 200;
  }

  .social_icons {
    max-width: 500px;
    float: left;
    margin-left: 20px;
    margin-top: 0;
  }

  .social-icons a {
    color: $black;
    margin-right: 8px;
  }

  span.social_icons {
    float:none;
    text-align:justify;
  }

  .social_icons a {
    color:$black;
    margin-right:8px;
  }

  .social_icons a:hover {
    color: $dark-grey;
  }

  .social_icons.big-size a {
    font-size:3rem;
    margin-right:12px;
  }

  #tools {
    max-width: 220px;
    float: right;
    margin: 0 20px 0 0;
  }
}

form#top-search {
  position: absolute;
  right: 0;
  z-index: 200;
}
