# .gitignore
*backup*
*cache*
db.php
.htaccess
index.php
*.lnk
*.log
*.sass-cache*
*.swp
*log
*scratch*
*.sh*
*.sql*
*.txt*
*w3tc*
*wflogs*

# Plugins
mu-plugins/*
plugins/*
!plugins/luna-affiliates-widget
!plugins/luna-zemanim-widget
uploads/

# Themes
sass-cache*
themes/genesis
*woocommerce*
themes/twentynineteen
themes/twentytwenty