/* Media Query - Max-Width: 870px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 54.375em) {
  span.category {
    font: 300 16px $base-font;
  }

  .footer-widgets {
    margin: 0 auto;
    width: 96%;
  }

  .widget-area.footer-widget-area {
    .widget {
      margin: 0 auto 40px;
      width: 100%;
    }

    .featured-content h4 {
      width: auto;
    }
  }

  .textwidget p {
    font-size: 16px;
  }

  .featured-content,
  .widget-area.footer-widget-area .featured-content {

    .entry-header {
      display: inline-block;
      max-width: 70%;
      padding: 2px 8px;
      }

    .entry-image {
      // height: auto;
      height: 60px;
      // width: 75px;
      width: 60px;
    }

    .widget-wrap {
      h4,
      h4 a {
        font-size: 12px;
        max-height: 46px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        // width: 60%;
        width: 90%;
      }

      .entry {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 86px;
      }

      p.entry-meta {
        display: block;
        font-size: 11px;
      }
    }
  }

  .author-avatars {
    float: none;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  .authors-wrap {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    margin: 10px 5%;
    width: initial;
  }

  .author-box {
    margin: 0 auto;
    width: auto;

    a {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 145px;
    }

    .avatar-box {
      width: auto;
    }

    .author-name {
      margin: 4px 0;
    }
  }
}
