/* Media Query - Max-Width: 960px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 60em) {

  // Topbar
  #topbar .social-icons,
  .social-icons {
    display: none;
  }

  .topbar.shrinked {
    height: 53px;
  }

  .header-shrinked .logo {
    height: 40px;
    left: 60px;
  }

  .menu-toggle {
    left: 20px;
    position: fixed;
    top: -10px;
  }

  .nav-shrinked {
    max-width: 234px;
  }

  .nav-primary.nav-shrinked {
    background: $dark-grey;
    display: block;
    height: auto;
    left: 20px;
    top: 92px;
    visibility: visible;
  }

  body.js .nav-primary {
    display: none;
  }

  // Nav Menus
  .dashicons-menu,
  .mobile-menu,
  .site-header .menu-toggle {
    &::before {
      font-size: 25px;
      height: 25px;
      width: 25px;
    }
  }

  .genesis-responsive-menu {
    border: 0;
    left: 0;
  }

  .genesis-responsive-menu ul {
    background: $darker-grey;
    text-align: left;

    li a {
      &::after {
        display: none;
      }

      span {
        color: $mid-grey-4;
        margin-right: 60px;
      }
    }
  }

  .genesis-responsive-menu .menu-item {
    background: inherit;
    border-bottom: 1px solid $black-alpha-1;
    border-top: 1px solid $white-alpha-1;
    width: 100%;
  }

  .nav-primary ul li {
    a {
      margin-left: 20px;
      padding: 0 0 6px;
    }

    &:last-of-type a {
      background: initial;
      border: initial;
      border-radius: initial;
    }
  }

  .nav-primary .menu-item {
    &:focus,
    &:hover,
    a span:hover {
      color: $orange;
    }
  }

  // Primary Nav Menu
  .nav-primary,
  .nav-primary.nav-shrinked {
    background: $dark-grey;
    border: 0;
    height: auto;
    left: 0;
    position: fixed;
    top: 51px;

    .dashicons-menu,
    .mobile-menu {
      &::before {
        font-size: 25px;
        height: 25px;
        width: 25px;
      }
    }

    ul {
      align-items: flex-start;
      background: $darker-grey;
      flex-direction: column;
      text-align: left;

      li {
        background: inherit;
        border-bottom: 1px solid $menu--border-bottom;
        border-top: 1px solid $menu--border-top;
        width: 100%;
      }

      li a {
        &::after {
          display: none;
        }

        & span {
          color: $mid-grey-4;
          margin: 0 60px 0 0;
        }
      }

      li:last-of-type a {
        background: initial;
        border: initial;
        border-radius: initial;
      }
    }

    // Sub Menu
    .sub-menu-toggle {
      color: $mid-grey-4;
      display: none;
    }

    .sub-menu {
      border-top: 1px solid $dark-grey;

      a {
        width: auto;
      }
    }

    .sub-menu,
    .sub-menu a {
      background: inherit;
      left: 0;
      opacity: 1;
      position: static;
    }

    ul .sub-menu li {
      background: inherit;
      border: 0;
      padding: 10px 0;
      position: static;

      &:hover {
        right: unset;
      }

      a {
        margin: 0;
      }

      &:first-of-type a,
      &:last-of-type a {
        background: inherit;
      }

      &:first-of-type a span {
        margin: 0 0 0 40px;
      }

      &:last-of-type a {
        border: 0;
        border-bottom: 1px solid $dark-grey;
        padding: 0 0 6px;
      }
    }

    ul.sub-menu li a span,
    ul.sub-menu li:first-of-type a span {
      margin: 0 0 0 40px;
    }

    // Submenu - Layer 2
    .sub-menu .sub-menu {
      border: 0;
      display: block !important;
      margin: 0 0 0 10px;
    }

    .sub-menu button.sub-menu-toggle {
      visibility: hidden;
    }
  }

  // Content
  .featured-content {
    .entry-header {
      max-width: 150px;
    }
  }
}
