/* Media Query - Max-Width: 980px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 61.25em) {

  #topbar,
  .site-inner,
  .footer-widgets .wrap,
  .site-footer,
  .site-footer .wrap {
    max-width: 100%;
  }

  header#top {
    max-width: 90%;
  }

  .site-header {
    max-width: initial;
    min-width: initial;
  }

  .logo {
    max-width: 70%;
  }

  .nav-primary {
    ul li a {
      font-size: 12.5px;
    }
  }

  .site-inner {
    max-width: 96%;
  }

  .content-sidebar-wrap {
    width: 96%;
  }

  #genesis-content {
    margin: 0 10px;
    max-width: 69%;
  }

  .sidebar-primary {
    margin: 0;
    max-width: 27%;
  }
}


