/* Media Query - Max-Width: 1220px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 76.25em) {

  // #topbar,
  #top,
  .site-inner,
  .site-footer,
  .site-footer .wrap {
    max-width: 1020px;
  }

  #topbar {
    max-width: 100%;
    width: 100%;
  }

  #topbar.shrinked,
  header#top.header-shrinked {
    max-width: 100%;
  }

  #genesis-content {
    max-width: 700px;
  }

  .featured-content .widget-wrap {
    h4.entry-title {
      max-height: 56px;
      overflow: hidden;
    }
  }

  .sidebar-primary {
    max-width: 260px;

    .featured-content .widget-wrap {
      .entry {
        height: 60px;
        overflow: hidden;
      }
  }

    .featured-content .entry-header {
      max-width: 150px;
      padding: 0 2px 0 0;
    }

    h4 a::after {
      content: '...';
    }
  }

  .widget-area.footer-widget-area {
    margin: 0 1%;
    width: 23%;

    header.entry-header {
      max-width: 60%;
    }
  }

  .widget-wrap p.entry-meta {
    display: none;
  }
}
