/* Media Query - Max-Width: 1060px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 66.25em) {
  #topbar,
  #top,
  .site-inner,
  .footer-widgets .wrap,
  .site-footer,
  .site-footer .wrap {
    max-width: 960px;
  }

  #genesis-content {
    max-width: 69%;
  }

  .sidebar-primary {
    max-width: 27%;
  }

  .featured-content {
    .widget-wrap .entry {
      height: 69px;
    }

    .entry-header {
      max-width: 170px;
    }
  }
}
