.site-inner {
/*     max-width: initial; */
    padding: 0;
}

.full-width-content .content,
#genesis-content {
    float: none;
    margin:  0 auto;
    max-width: initial;
    width: 1020px;
}

.content {
    margin-top: -33px;
}

.archive-description {
    margin: 33px 0 41px;
    /* margin: 33px 0 31px; */
}

.archive-title {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0;
    text-align: center;
}

.archive-title span {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
}

.affiliates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.affiliate-item {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 26px;
    width: 27%;
}

.affiliate-item:last-of-type {
    margin: 0 auto 26px 9%;
}

.affiliate-item:nth-of-type(3n-1) {
/*     margin: 0 9% 26px; */
}

.affiliate-item.row-fix:last-of-type {
    margin: 0 0 26px;
}

.affiliate-link-text {
    text-align: center;
}


/* 1220px */
@media only screen and (max-width: 76.25em) {
    #top,
    .site-inner,
    .site-footer,
    .site-footer .wrap {
        /* max-width: 84%; */
        max-width: 1020px;
    }
}

/* 1060px */
@media only screen and (max-width: 66.25em) {
    #topbar,
    #top,
    .site-inner,
    .full-width-content .content,
    #genesis-content,
    .footer-widgets .wrap,
    .site-footer,
    .site-footer .wrap {
        /* max-width: 90%; */
        max-width: 960px;
    }

}

/* 980px */
@media only screen and (max-width: 61.25em) {
    #topbar,
    #top,
    .site-inner,
    .footer-widgets .wrap,
    .site-footer,
    .site-footer .wrap {
        /* max-width: 90%; */
        /* max-width: 960px; */
        max-width: 96%;
    }

    #genesis-content {
        float: none;
        margin: 0 auto;
        max-width: initial;
        width: 90%;
    }
}

/* 760px */
@media only screen and (max-width: 47.5em) {
    .site-container,
    .site-inner {
        padding: 0;
    }
}
/* 560px */
@media only screen and (max-width: 560px) {
  .taxonomy-description {
    display: flex;
    justify-content: center;
    margin: 0;
    margin: 10px 0 0;
  }

  .archive-title {
    margin: 0 0 20px;
    margin: 0;
    padding: 0 0 3px;
    border-bottom: 1px solid black;
  }

  .archive-title span {
    border: 0;
  }

}
