/* Authors Page CSS */

#genesis-content {
	padding: 0 30px;
	max-width: initial;
	width: 1200px;
}

.entry-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.author-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.author-box .avatar {
	height: 175px;
	width: 175px;
	min-width: 175px;
	min-height: 175px;
}

.author-info {
	padding: 0 0 0 30px;
	max-width: 950px;
}

.author-box .author-name {
	color: #000;
	display: block;
	font: 700 22px 'pt serif',times new roman,times,serif;
	line-height: 1.111111;
	margin: 0 0 10px
}

@media only screen and (max-width: 76.25em) {
	#genesis-content {
		max-width: 98%;
	}

	.author-info {
		max-width: initial;
	}
}

/* Authors Media Query - Max-Width: 870px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 54.375em) {
	#genesis-content {
		padding: 0;
/*         width: 1200px; */
	}

	.authors-wrap {
		margin: 30px 2%;
	}

	.author-box .avatar {
		min-height: 150px;
		min-width: 150px;
		margin: 0 30px 0 0;
	}

	.author-box a {
		width: initial;
	}
}


/* Authors Media Query - Max-Width: 760px
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 47.5em) {
	.authors-wrap {
		margin: 30px 0;
	}

	.author-box {
		flex-direction: column;
		align-items: center;
	}

	.author-box .avatar {
		margin: 0 auto;
/*         margin: intiial; */
	}

	.author-info {
		margin: 0;
		max-width: 100%;
	}

	.author-box .author-name {
		font-size: 24px;
		margin: 20px 0 10px;
		text-align: center;
	}
}
