body.category  {
    color: #000;
    margin: 0;
}

.site-inner {
    max-width: initial;
}

.full-width-content .content,
#genesis-content {
    width: 90%;
    max-width: initial;
    width: 1020px;
}

.archive-description {
    margin: 33px 0 41px;
}

.archive-title {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0;
    text-align: center;
}

.archive-title span {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
}

#genesis-content .post .entry-content {
    margin: 0 auto;
    text-align: left;
/*     width: 1080px; */
}

#genesis-content .post .entry-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

#genesis-content .entry-tools {
    display: flex;
    font: 400 12px 'PT Serif', "times new roman", times, serif;
    justify-content: space-between;
    line-height: 1.95;
/*     width: 1080px; */
}

/* 1220px */
@media only screen and (max-width: 76.25em) {
    #top,
    .site-inner,
    .site-footer,
    .site-footer .wrap {
        /* max-width: 84%; */
        max-width: 1020px;
    }
}

/* 1060px */
@media only screen and (max-width: 66.25em) {
    #topbar,
    #top,
    .site-inner,
    .full-width-content .content,
    #genesis-content,
    .footer-widgets .wrap,
    .site-footer,
    .site-footer .wrap {
        /* max-width: 90%; */
        max-width: 960px;
    }

}

/* 980px */
@media only screen and (max-width: 61.25em) {
    #topbar,
    #top,
    .site-inner,
    .footer-widgets .wrap,
    .site-footer,
    .site-footer .wrap {
        /* max-width: 90%; */
        /* max-width: 960px; */
        max-width: 96%;
    }

    #genesis-content {
        margin: 0 auto;
        max-width: initial;
        width: 90%;
    }
}

/* 760px */
@media only screen and (max-width: 47.5em) {
    .site-container,
    .site-inner {
        padding: 0;
    }
}
