/* Lebanon Styles */

p {
  font-family: 'book antiqua', palatino;
  font-weight: 400;
}

figure {
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.img-and-txt {
	clear: both;
  /* align-items: flex-start; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.img-and-txt .img-one-third {
	display: inline-block;
	width: 33%;
}

.img-and-txt p {
	/* display: inline-block; */
}

.text-two-thirds {
    /* width: 63%; */
    /* width: 60%; */
    /* width: 61.9%; */
}

.img-and-img {
	align-items: flex-start;
	clear: both;
	display: flex;
	justify-content: space-between;
}

.img-one-half {
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-basis: 48.5%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	/* margin: 0 20px 20px */
	margin: 0 0 20px;
	/* max-width: 48%; */
	max-width: initial;
}

/* Row One */
#attachment_1878,
#attachment_1878 img,
#attachment_1878 figcaption {
	width: 315px;
}

#attachment_1878 img {
	/* flex-basis: 30%; */
	/* margin: 0 auto; */
	/* width: 100%; */
	/* width: 315px; */
}

#attachment_1879,
#attachment_1879 img {
    width: 357px;
}

#attachment_1879 + .text-two-thirds {
    /* width: 57%; */
}


/* max-width: 760px; */
@media only screen and (max-width: 47.5em) {
	.img-and-txt {
	  display: block;
	  clear: both;
	}

	.img-and-img {
		clear: both;
		display: block;
	}

	.img-one-half {
		margin: 0 0 20px;
		width: 100%;
		display: block;
		margin: 0 0 20px;
	}

	.img-one-half img {
		width: 100%;
	}

	#attachment_1874 img {
		width: 261px;
	}

	#caption-attachment-1878,
	#caption-attachment-1878 span {
		font-family: "PT Serif", "times new roman", times, serif;
		font-size: 16px;
	}

	.luna-afl .affiliate-item figure {
		display: block;
	}
}
