#primary_menu{
    width:1200px;
    height:45px;
    margin:auto;
    clear:both;
    border-style: solid;
    border-color:#333;
    border-width:2px 0 1px;
}
#primary_menu ul{
    text-align:center;
    margin-bottom:0;
    margin-top: 0;
}
#primary_menu ul li{
    display:inline-block;
    padding:10px;
    position:relative;
    margin-bottom:0;
}
#primary_menu > ul > li:after{
    content:"|";
    margin-left:20px;
}
#primary_menu ul li a{
    color:#000;
    text-transform: uppercase;
    font:600 1.4rem 'Source Sans Pro', sans-serif;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
}
#primary_menu ul li.current-menu-item a,
#primary_menu ul li a:hover{
    color:#21aaff;
    text-decoration: none;
}
.menu_btn{
  width:80px;
  height:25px;
  margin-top:10px;
  float:right;
}
.menu_btn a{
  width:25px;
  height:25px;
  display: inline-block;
  float:right;
  margin-left:8px;
  line-height: 25px;
  color:#000;
  font-size:16px;
  font-size:1.6rem; 

}
.menu_btn.moveup{
  margin-top:-34px;
}



/**
 * Submenu
 */

ul.sub-menu {
    padding: 0 10px;
    min-width: 200px;
    width: auto;
    top: 45px;
    left: -100px;
    background: #000;
    border: 1px solid #000;
    position: absolute;
    display: none;
    z-index: 2;
}

.menu-primary ul.sub-menu li {
    border-bottom: 1px solid #333;
    font-size: 1.6rem;
    float: none;
    margin-bottom: 0;
    position: relative;
    width: 80%;
    margin-left: 0;
}

li#menu-item-1952 {
    display: block !important;
}

.sub-menu li a {
    color: #fff;
    font-size: 1.2rem;
    display: block;
}

.sub-menu li {
    border-bottom: 1px solid #333;
    /* float: none; */
    margin-bottom: 0;
    position: relative;
    width: 80%;
    margin-left: 0;
    color: #fff;
    font-size: 1.2rem;
    display: block;
    /* height: auto; */
    padding: 10px;
    max-height: 15px;
    line-height: normal;
}

.sub-menu li a {
    color: #fff;
    font-size: 1.2rem;
    /* display: block; */
    /* max-height: 15px; */
    padding: 0;
    line-height: normal;
}

.sub-menu li a span {
    color: #fff;
    font-size: 1.2rem;
    display: block;
    padding: 0;
}

.sub-menu li a {
    color: #fff;
    font-size: 1.2rem;
    /* display: block; */
    /* max-height: 15px; */
    padding: 0;
    line-height: normal;
}