/* #topbar {
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fff;
    z-index: 200;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: static;
}

header#top {
    width: 100%;
    min-height: 120px;
    max-height: 200px;
    height: auto;
    z-index: 100;
    position: relative;
    background: #fff;
    margin: 0 auto 50px;
    padding-top: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    margin-bottom: 20px;
}

.logo {
    height: 126px;
    margin: -50px auto 20px;
    text-align: center;
    width: 900px;
}

.logo a {
    min-width: 300px;
    width: auto;
    max-width: 900px;
    height: 80px;
    margin: -50px auto 0;
    text-transform: uppercase;
    font: bold 6.4rem 'Voltaire',sans-serif;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

.logo a span {
    background: #fff;
    padding: 0 30px;
}

.logo a span img {
    height: 80px;
}

#topbar.shrinked {
    height: 63px;
    top: 30px;
}

header#top.header-shrinked {
    background: transparent;
    height: auto;
    margin: 0 auto 50px;
    z-index: 400;
}


.header-shrinked .logo {
    height: 50px;
    margin: 0;
    position: fixed;
    width: 260px;
    z-index: 600;
}


.header-shrinked .logo a {
    height: 50px;
    line-height: 1;
    overflow: hidden;
    position: relative;
    top: -20px;
}

.header-shrinked .logo a span {
    background: transparent;
    padding: 0;
    height: 40px;
}

.header-shrinked .logo a span img {
    height: 40px;
    position: relative;
    top: 20px;
}

 */