/* ----------------------------------------------------
[menu.scss]

1. Site Navigation
  - 1.1 Menus Setup
  - 1.2 Responsive Menu
2. Header Navigation
  - 2.1 Header Menu
  - 2.2 Header Menu Shrinked
3. Footer Menu Navigation

------------------------------------------------------*/


/* 1. Site Navigation
=================================================*/

/* 1.1 Menus Setup
============================*/

.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%;

  .menu-item {
    // display: block;
    display: inline-block;
    float: none;
    position: relative;

    &:focus,
    &:hover {
      position: relative;
    }
  }

  > .menu-bold > a {
    font-weight: $font-weight--bold;
  }

  > .menu-highlight > a {
    background-color: $dark-grey;
    border-radius: 3px;
    color: $white;
    font-weight: 600;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;

    &:hover,
    &:focus {
      background-color: $orange;
    }
  }

  .sub-menu {
    background-color: transparent;
    // border-top: 0;
    // left: 0;
    line-height: 1.8;
    opacity: 0;
    // padding-left: 0;
    position: absolute;
    // top: 40px;
    // top: 20px;
    top: 0;
    transition: opacity 0.1s ease-in-out;
    // z-index: 2;

    // Nat Bar Nat (Sub Bar Nat)
    .sub-menu {
      top: 20px;
    }

    li {
      display: block;
      right: calc(11%);
      top: 40px;

      &:last-of-type {
        a {
          background: $dark-grey;
          border: 1px solid $dark-grey;
          box-sizing: content-box;
          height: 20px;
          padding: 5px 0 0;
        }
      }
    }

    a {
      border-top: 0;
      &:last-of-type {
        // background: $black;
      }
    }

    .sub-menu {
      // margin: -46px 0 0 179px;
    }
  }

  a {
    color: $dark-grey;
    display: block;
    font-size: 15px;
    // font-size: 1.5rem;
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;

    &:focus,
    &:hover,
    .current-menu-item > a,
    .sub-menu .current-menu-item > a:focus,
    .sub-menu .current-menu-item > a:hover {
      color: $link-blue;
      text-decoration: none;
    }
  }

  .sub-menu {
    // background: $black;
    background-color: transparent;
    clear: both;
    color: $lighter-grey;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    width: 100%;
    z-index: 99;

    a {
      background-color: $black;
      font-size: 14px;
      // font-size: 1.4rem;
      position: relative;
      width: 100%;
      word-wrap: break-word;

      &:last-of-type {
        background: transparent;
      }
    }
  }

  .menu-item {
    &:focus,
    &:hover {
      position: relative;
    }

    &:hover > .sub-menu {
      left: auto;
      opacity: 1;

      .sub-menu {
        left: auto;
      }
    }
  }
}

/* 1.2 Responsive Menu
============================*/

.menu .menu-item {
  &:focus {
    position: static;
  }

  > a:focus + ul.sub-menu,
  &.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

.genesis-responsive-menu {
  display: none;
  padding-bottom: 15px;
  position: relative;

  .genesis-nav-menu {
    .sub-menu,
    .sub-menu a {
      width: 160px;
    }
  }
}

.menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: $dark-grey;
  display: block;
  float: left;
  line-height: 1;
  // margin: 0 auto;
  margin: 10px 0;
  overflow: hidden;
  padding: 15px 0;
  position: fixed;
  text-align: center;
  top: 22.5px;
  visibility: visible;
  z-index: 1000;

  &:focus,
  &:hover {
    background-color: transparent;
    border-width: 0;
    color: $orange;
  }

  &.activated::before {
    content: '\f335';
  }
}

.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: $mid-grey-4;
  display: block;
  float: right;
  margin: 0 auto;
  overflow: hidden;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: visible;
  z-index: 100;

  &:focus,
  &:hover {
    background-color: transparent;
    border-width: 0;
    color: $orange;
  }

  &::before {
    display: inline-block;
    text-rendering: auto;
    transform: rotate(0);
    transition: transform .25s ease-in-out;
  }

  &.activated::before {
    transform: rotate(180deg);
  }
}

.site-header .menu-toggle::before {
  float: left;
  margin-right: 5px;
  position: relative;
  text-rendering: auto;
  top: 1px;
}

.sub-menu .sub-menu-toggle {
  padding: 12px 10px;
}


/* 2. Header Navigation
=================================================*/

/* 2.1 Header Menu
============================*/

.nav-primary {
  border-color: $dark-grey;
  border-style: solid;
  border-width: 2px 0 1px;
  box-sizing: content-box;
  clear: both;
  // clear: left;
  display: none;
  height: 45px;
  line-height: 1.8;
  margin: 1px auto 0;
  max-width: 1200px;
  padding: 0;
  position: static;
  // width: 100%;
  width: auto;

  a {
    padding: 0;

    &::after {
      content: '|';
      margin-left: 20px;
    }
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1.4625;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      line-height: 1.8;
      margin-bottom: 0;
      // padding: 8px 10px;
      padding: 8px 11.5px 8px 12.5px;
      position: relative;

      a {
        color: $black;
        font:$font-weight--semibold 14px 'Source Sans Pro', sans-serif;
        // font:$font-weight--semibold14px sans-serif;
        text-transform: uppercase;
        transition: all .1s linear;

        &::after {
          color: $darkest-grey;
          font-family: $base-font;
          font-size: 13px;

        }

        &:focus {
          outline: 2px solid $orange;
        }
      }

      &.current-menu-item a,
      a:hover,
      a:active,
      a:focus {
        color: $orange;
        text-decoration: none;
      }

      &:last-of-type a {
        background: $dark-grey;
        border: 5px solid $black;
        border-radius: 10%;
        color: $white;
        font-size: 14px;
      }
    }

    .sub-menu li {
      background: $black;
      border-bottom: 1px solid $black;
      padding: 10px 31px;
      width: 100%;
    }
  }

  li > ul a::after,
  ul li:last-of-type a::after {
    border-bottom: 0;
    content: '' !important;
    margin-left: 0 !important;
    width: 100%;
  }

  .sub-menu a::after {
    border-bottom: 1px solid $dark-grey;
    display: block;
    position: relative;
    top: 10.8px;
  }

  ul.sub-menu {
    li a,
    li:first-of-type a {
      // background: $black;
      color: $lighter-grey;
      font-size: 12px;
      // font-size: 1.2rem;
    }
  }

}

.genesis-nav-menu .sub-menu a,
.nav-primary .sub-menu a {
  // background: $black;
}

/* 2.2 Header Menu Shrinked
============================*/

.nav-shrinked {
  border: 0;
  display: block;
  margin: 1px 0 0;
  min-width: 200px;
  padding: 0;
  position: fixed !important;
  right: 20px;
  width: auto;

  a:after {
    margin: 0 0 0 10px;
  }

  ul {
    font-size: 13px;

    li {
      padding: 8px 7px;

      a,
      &:last-of-type a {
        font-size: 12px;
      }

      &:last-of-type a {
        background: $dark-grey;
        border: 5px solid $black;
        border-bottom: 2px solid $black;
        border-radius: 10%;
        border-top: 2px solid $black;
        color: $white;
        font-size: 12px;
        height: 18px;
        padding: 0 0 3px;
        position: relative;
        top: 1px;

        span {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .sub-menu {
    display: none !important;
  }
}

/* 3. Footer Menu Navigation
=================================================*/

.nav-secondary {
  margin-top: 10px;

  .genesis-nav-menu {
    line-height: 1.5;
  }

  .menu-item {
    display: inline-block;
  }

  a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}

