/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
  clear: both;
  line-height: 1;
  width: 100%;

  .menu-item {
    display: block;
    float: none;
    position: relative;
  }

  a {
    color: $dark-grey;
    display: block;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;

    &:focus,
    &:hover,
    .current-menu-item > a,
    .sub-menu .current-menu-item > a:focus,
    .sub-menu .current-menu-item > a:hover {
      color: #0073e5;
      text-decoration: none;
    }
  }

  .sub-menu {
    background: #000;
    color: #eee;
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    width: 100%;
    z-index: 99;

    a {
      background-color: #000;
      font-size: 14px;
      font-size: 1.4rem;
      position: relative;
      width: 100%;
      word-wrap: break-word;

      &:last-of-type {
        background: $dark-grey;
      }
    }
  }

  .menu-item {
    &:focus,
    &:hover {
      position: relative;
    }

    &:hover > .sub-menu {
      left: auto;
      opacity: 1;

      .sub-menu {
        left: auto;
      }
    }
  }
}



/* Responsive Menu
--------------------------------------------- */

.menu .menu-item {
  &:focus {
    position: static;
  }

  > a:focus + ul.sub-menu,
  &.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

.genesis-responsive-menu {
  display: none;
  padding-bottom: 15px;
  position: relative;
}

.menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: $dark-grey;
  display: block;
  float: left;
  line-height: 1;
  // margin: 0 auto;
  margin: 10px 0;
  overflow: hidden;
  padding: 15px 0;
  position: fixed;
  text-align: center;
  top: 22.5px;
  visibility: visible;
  z-index: 1000;

  &:focus,
  &:hover {
    background-color: transparent;
    border-width: 0;
    color: $orange;
  }

  &.activated::before {
    content: "\f335";
  }
}

.sub-menu-toggle {
  background-color: transparent;
  border-width: 0;
  color: $mid-grey-4;
  display: block;
  float: right;
  margin: 0 auto;
  overflow: hidden;
  padding: 9px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: visible;
  z-index: 100;

  &:focus,
  &:hover {
    background-color: transparent;
    border-width: 0;
    color: $orange;
  }

  &::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-transform: rotate( 0 );
    -ms-transform:     rotate( 0 );
    transform:         rotate( 0 );
    transition: transform .25s ease-in-out;
  }

  &.activated::before {
    -webkit-transform: rotate( 180deg );
    -ms-transform:     rotate( 180deg );
    transform:         rotate( 180deg );
  }
}

.site-header .menu-toggle::before {
  float: left;
  margin-right: 5px;
  position: relative;
  text-rendering: auto;
  top: 1px;
}

.sub-menu .sub-menu-toggle {
  padding: 12px 10px;
}


/* Header Menu
--------------------------------------------- */

.nav-primary {
  clear: left;
  width: 100%;
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
  margin-top: 10px;

  .genesis-nav-menu {
    line-height: 1.5;
  }

  .menu-item {
    display: inline-block;
  }

  a {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}

