/* WP Admin Bar Fix
---------------------------------------------------------------------------------------------------- */

// Media Query - Min-Width: 782px
@media only screen and (min-width: 48.875em) {
  #wpadminbar {
    .quicklinks {
      justify-content: space-between;

      &,
      & > ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        min-width: 0 !important;
      }

      & > ul > li {
        float: none !important;
      }

      & > ul > li,
      .ab-item {
        max-width: 100px;
        min-width: 0 !important;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .ab-item {
        overflow: hidden;

        .ab-label,
        .display-name {
          display: inline;
          float: none;
        }
      }
    } // end .quicklinks

    #wp-admin-bar-top-secondary {
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
  } // end #wpadminbar

}


// #WP Admin Bar min-width: 1061px
@media only screen and (min-width: 66.3125em) {
  #wpadminbar .quicklinks > ul > li,
  #wpadminbar .quicklinks .ab-item {
    max-width: initial;
    text-overflow: clip;
  }
}

